<section class=Product *appLoadingSection="isLoading">
  <ul class=crud-controls *ngIf="!isCreateMode">
    <li class=read>
      <input type="radio" name=read value="read" [(ngModel)]="mode">
      <label for=read i18n>Read</label>
    </li>
    <li class=update>
      <input type="radio" name=udpate value="update" [(ngModel)]="mode">
      <label for=update i18n>Update</label>
    </li>
    <li class=delete>
      <input type="radio" name=delete value="delete" [(ngModel)]="mode">
      <label for=delete i18n>Delete</label>
    </li>
  </ul>

  <app-entity-crud [mode]="mode" [schema]=productSchema [entity]=product (changeEntity)="onChange($event)"
    (create)="onCreate()" (update)="onUpdate()" (delete)="onDelete()">
  </app-entity-crud>
</section>